<div class="login">
  <div class="title">
    <h1>Login</h1>
  </div>
  <div class="form">
    <form>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              @
            </span>
            <input type="text" pInputText placeholder="Email">
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <input type="text" pInputText placeholder="Senha">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <p-button styleClass="login-btn ui-button-info ui-button-raised" label="Entrar"></p-button>
	<a class="mt" routerLink="../signup">Não possui conta? Clique aqui para criar uma.</a>
  </div>
</div>
