.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;

  .box {
    $bg: #13232f;
    background: $bg;
    padding: 40px;
    max-width:600px;
    margin: 40px auto;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba($bg,.3);

    width: 600px;

    @media (max-width: 500px) {
      width: 290px;
    }

    @media (max-width: 400px) {
      & {
        width: 250px;
      }
    }
  }
}
