<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="signup">
    <div class="title">
      <h1>Criar conta</h1>
    </div>
    <div class="form">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input formControlName="name" type="text" pInputText placeholder="Nome">
          </div>
          <barbex-validation-errors *ngIf="form?.get('name')?.touched" [error]="getFormFieldError('name')">
          </barbex-validation-errors>
        </div>
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              @
            </span>
            <input formControlName="email" type="text" pInputText placeholder="Email">
          </div>
          <barbex-validation-errors *ngIf="form?.get('email')?.touched" [error]="getFormFieldError('email')">
          </barbex-validation-errors>
        </div>
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <input formControlName="password" type="password" pInputText placeholder="Senha">
          </div>
          <barbex-validation-errors *ngIf="form?.get('password')?.touched" [error]="getFormFieldError('password')">
          </barbex-validation-errors>
        </div>
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <input formControlName="repassword" type="password" pInputText placeholder="Repita a senha">
          </div>
          <barbex-validation-errors *ngIf="form?.get('repassword')?.touched" [error]="getFormFieldError('repassword')">
          </barbex-validation-errors>
        </div>
      </div>
    </div>
    <div class="footer">
      <p-button type="submit" styleClass="login-btn ui-button-info ui-button-raised" label="Registrar">
      </p-button>
      <a class="mt" routerLink="../login">Já possui uma conta? Clique aqui para entrar.</a>
    </div>
  </div>
</form>
