html, body {
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

a {
  cursor: pointer;
}

/****************************************************
*
* PRIMENG OVERRIDES
*
*****************************************************/

p-button {
  .login-btn {
    width: 150px;
    height: 40px;
  }
}
